In [21]:
import math 

def t_value(y1, y2, s1, s2, n1, n2):
    
    d = math.sqrt((s1**2)/n1 + (s2**2)/n2)
    
    return (y1 - y2)/d

q1 = t_value(5,8,1,3,200,500)

q2 = t_value(1090,999,400,30,900,100)

q3 = t_value(45,40,45,40,2000,2000)

print('t value for y1=5, y2=8, s1=1, s2=3, N1=200, N2=500 is: {}\n'.format(q1))
print('t value for y1=1090, y2=999, s1=400, s2=30, N1=900, N2=100 is: {}\n'.format(q2))
print('t value for y1=45, y2=40, s1=45, s2=40, N1=2000, N2=2000 is: {}'.format(q3))

t value for y1=5, y2=8, s1=1, s2=3, N1=200, N2=500 is: -19.78141420187361

t value for y1=1090, y2=999, s1=400, s2=30, N1=900, N2=100 is: 6.658536585365854

t value for y1=45, y2=40, s1=45, s2=40, N1=2000, N2=2000 is: 3.7139067635410377